

<div class="container text-center mt-5 mx-0 my-5">
  <div class="row justify-content-center align-items-center ">
    <!-- Image Section -->
    <div class="col-12 col-md-4 mb-4 mb-md-0" >
      <img src="/assets/hitler.png" class="img-fluid my-4" alt="Hitler Drawing" style="width: 100%; max-width: 500px;">
    </div>
    <div class="col-md-4"></div>

    <!-- Form Section -->
    <div class="col-12 col-md-2 col-lg-4  p-3 rounded shadow lobby-box mx-0 align-items-left">
      

      <!-- Number of Players -->
      <div class="form-group mb-3">
        <label class="fw-bold">WRITE YOUR NAME </label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-people"></i></span>
          <input type="text" class="form-control"  placeholder="name">
        </div>

      </div>

      <!-- Date -->
      

      <!-- Start Button -->
      <button class=" start btn btn-danger w-100 fw-bold">Create a game</button>
      
    </div>
    
  </div>
  
</div>
